.main {
    margin-top: -8px;
}

.bgnav {
    background-color: #0c3750;
    margin: 0 auto;
    border-radius: 30px;
    width: 90%;
}

p {
    font-style: italic;
}

a {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 5px;
}

.active {
    background-color: #0c3750;
}

h1 {
    border: 2px groove rgb(31, 21, 21);
}

.head {
    position: fixed;
    width: 95%;
    align-items: center;
}