<div class="head" align="center" style="padding-left: 90px;">
    <nav class="navbar navbar-expand-md navbar-dark bgnav">
        <a class="navbar-brand" href="#"><i class="fa fa-book" aria-hidden="true"></i> Bookies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink='/bookslist' class="white nav-link">Books </a>
                </li>
                <li class="nav-item">
                    <a routerLink='/favlist' class="white nav-link">Liked Books</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/readlater' class="white nav-link">Read Later Books</a>
                </li>
                <li class="nav-item">
                    <a routerLink='/create' class="white nav-link">Add Books</a>
                </li>
                <li class="nav-item" *ngIf='!us.isLoggedIn()'>
                    <a routerLink='login' class="white nav-link">Login</a>
                </li>
                <li class="nav-item" *ngIf='!us.isLoggedIn()'>
                    <a routerLink='register' class="white nav-link">Register</a>
                </li>
                <li class="nav-item" *ngIf='us.isLoggedIn()'>
                    <a routerLink='logout' (click)="us.logout()" class="white nav-link">Logout</a>
                </li>
            </ul>
        </div>

    </nav>
</div>