<div style="text-align: center; padding-top: 40px;">
    <h1> Page you are looking for doesnt exist</h1>
    <a routerLink='' style="text-decoration: none;"><i class="fas fa-house-user"></i> Home Page</a>
</div>