.card{
    width: 60%;
    margin: auto;
    padding: 25px;
    background-color: #0c3750;
}
button{
    height: 55px;
    width: 155px;  
    font-size: 20px; 
}
.form-group{
    margin-bottom: 12px;
}